<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>

<header>
    <h1>EPIC TASK</h1>
</header>

<main class="home">
    <div class="left">
        <h2>Engajamento para sua equipe de desenvolvimento</h2>
        <p>Faça o controle das atividades realizadas pela sua equipe de trabalho através de um app gamificado para equipes autogerenciáveis. </p>

        <div class="buttons">

            <a href="/" class="button primary">
                <span class="material-icons"> login </span>
                <span th:text="Teste"></span>
            </a>
        </div>
    </div>
</main>


</body>
</html>